a 
{
    color: inherit;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

body
{
    margin: 0;padding: 0;
    background-color:white;
    display: flex;
    height: 100px;
    width: 100%;
    
}


h1
{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 250px;
    margin-top: 150px;
}

.titre
{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 150px;
    margin-top: 150px;
}

.fond
{
   position: block;
   max-width: 300px;
   height: auto;
}

.logoClass
{
    position: relative;

}


footer
{
   height: 80px;
   position: absolute ;
   width: 100%;
   background-color: gainsboro; 
   color: #00BABF;
   bottom: 0%;
   padding-top: 0px;
   
}

footer > ul 
{
    display: flex;
    float: left;
    
    
}

footer > ul > li
{
    margin-left: 60px;
    margin-right: 60px;
    list-style-type: none;
    margin-top:  1px;
    margin-bottom: 35px;
    align-items : center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    

}

.bouton1
{
    width: 202px;
    display: flex;
    background:#00BABF;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color: white;
    
    position: relative;
    top : 700px;
    right : 170px;
    
    
}

.bouton1 :hover 
{
    background-color: turquoise;
    color: white;

}

.bouton1I
{
    width: 202px;
    display: flex;
    background:#00BABF;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color: white;
    
    position: relative;
    top : 700px;
    right : 170px;
    
    
}

.bouton1I :hover 
{
    background-color: turquoise;
    color: white;

}

.bouton2I 
{
    z-index: 1;
    width: 202px;
    display: flex;
    background: gainsboro;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color : #00BABF;
    margin-left: 10px;
    position: relative;
    top : 550px;
    right: 160px;
    
}

.bouton2I :hover 
{
  background-color: turquoise;
  color: #00BABF;

}

.bouton2 
{
    z-index: 1;
    width: 202px;
    display: flex;
    background: gainsboro;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color : #00BABF;
    margin-left: 10px;
    position: relative;
    top : 550px;
    right: 160px;
    
}

.bouton2 :hover 
{
  background-color: turquoise;
  color: #00BABF;

}


.bannierelogoI > img
{
    position: relative;
    display: flex ;
    justify-content: center;
    left: 670px;
    bottom: 150px;
}

.bannierelog > img
{
position: relative;
display: flex;
justify-content: flex-start;
}

.subI 
{
    display: block;
    justify-content: center;
    margin-top: 350px;
    margin-left: 60px;
    border-color: #00BABF;
    color: #8FC5C6;
}

.nameI
{
    margin-bottom: 20px;
    color: #8FC5C6;
}

.mailI
{
    margin-bottom: 20px;
    color: #8FC5C6;
}

.mdpI
{
    margin-bottom: 20px;
    color: #8FC5C6;
}

.cityI
{
    margin-bottom: 20px;
    color: #8FC5C6;
}

.schoolI
{
    margin-bottom: 20px;
    color: #8FC5C6;
}