a 
{
    color: inherit;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

body
{
    margin: 0;padding: 0;
    
    background-image: "fond.webp";
    display: flex;
    height: 100px;
    width: 100%;
    
}


h1
{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 250px;
    margin-top: 150px;
}

.titreA
{
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 180px;
    right: 260px;
    
}

.titreA
{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 400px;
    right: 630px;
    position: relative;
}


.logoClass
{
    position: relative;
    left:150px;
    bottom: 100px;
}


footer
{
   height: 80px;
   position: absolute ;
   width: 100%;
   background-color: gainsboro; 
   color: #00BABF;
   bottom: 0%;
   padding-top: 0px;
   
}

footer > ul 
{
    display: flex;
    float: left;
    
    
}

footer > ul > li
{
    margin-left: 60px;
    margin-right: 60px;
    list-style-type: none;
    margin-top:  1px;
    margin-bottom: 35px;
    align-items : center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    

}

.bouton1
{
    width: 202px;
    display: flex;
    background:#00BABF;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    justify-content: space-around;
    color: white;
    position: relative;
    top : 650px;
    right: 850px;
    
    
}

.bouton1 :hover 
{
    background-color: turquoise;
    color: white;

}

.bouton1I
{
    width: 202px;
    display: flex;
    background:#00BABF;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color: white;
    
    position: relative;
    top : 800px;
    right: 900px;
    
    
}

.bouton1I :hover 
{
    background-color: turquoise;
    color: white;

}

.bouton2I 
{
    width: 202px;
    display: flex;
    background: gainsboro;
    justify-content: flex-start;
    align-items: center;
    height: 31px;
    border-radius: 20px;
    justify-content: space-around;
    color : #00BABF;
    margin-left: 10px;
    position: relative;
    top : 550px;
    right: 160px;
    
}

.bouton2I :hover 
{
  background-color: turquoise;
  color: #00BABF;

}

.bouton2 
{
    width: 202px;
    display: flex;
    background: gainsboro;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    justify-content: space-around;
    color : #00BABF;
    margin-left: 10px;
    position: relative;
    top : 750px;
    right: 990px;
    
}

.bouton2 :hover 
{
  background-color: turquoise;
  color: #00BABF;

}


.bannierelogo > img
{
    position: relative;
    top: 150px;
    
}

.bannierelog > img
{
position: relative;
display: flex;
justify-content: flex-start;
}

.subI 
{
    display: block;
    justify-content: center;
    margin-top: 350px;
    margin-left: 60px;
    border-color: #00BABF;
    color: #8FC5C6;
}

.nameI
{
    width: 60%;
    padding: 16px 22px;
    margin: 8px 0;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
    border-color :#00BABF
}


.mailI
{
    width: 60%;
    padding: 16px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
    border-color :#00BABF
}

.mdpI
{
    width: 60%;
    padding: 16px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
    border-color :#00BABF
}

.cityI
{
    width: 60%;
    padding: 16px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
    border-color :#00BABF
}

.schoolI
{
    width: 60%;
    padding: 16px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 100px;
    border-color :#00BABF
}

.twitter
{
    width: 30%;
}

.FB
{
    width: 30%;
}

.insta
{
    width: 30%;
}

.linkedid
{
    width: 30%;
}